@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  max-width: 600px; 
  background-color: #003d8c; 
  margin: 1em; 
  color: whitesmoke;
}

.deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px); 
  justify-content: center;
  background-color: #506c91; 
  color: white;
  width: 80%;
  margin: auto; 
}

.hide-deck {
  max-height: 2em !important; 
}

.hide-deck:hover {
  color: yellow;
}

.cards {
  overflow-y: hidden; 
  transition: all 1s ease-in-out; 
}

.hidden {
  display: none;
}

input {
  font-size: 1.2em; 
  border: none;
  border-radius: .1em;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px; 
  color: white;
  display: block;
}

input:focus {
  background-color: #90bbfc; 
  color: black;
}

.title {
  font-size: 2em; 
  color: white; 
  font-weight: bold;
  padding-left: 10px; 
  margin: .5em 0;
}

.about {
  font-size: 1em; 
  font-style: italic; 
  color: white;
  padding-left: 10px; 
  margin: .2em 0;
}

.term {
  font-size: 1em; 
}

.definition {
  font-size: 1em; 
}

h1 {
  
}

h3 {
  font-weight: normal; 
  font-size: 1em; 
}

.main {
  min-height: 100vh; 
}

.add-btn {
  color: white;
  background-color: green; 
  width: 2em; 
  height: 2em; 
  border-radius: 1em; 
  font-size: 1em; 
  font-weight: bold; 
  text-align: center; 
  padding: .2em; 
}


.del-btn {
  color: white;
  background-color: red; 
  width: 2em; 
  height: 2em; 
  border-radius: 1em; 
  font-size: 1em; 
  font-weight: bold; 
  text-align: center; 
  padding: .2em;
}

.username {
  color: black;
}

.email {
  color: black;
}